<footer>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Footer Line</span>
            <span class="example-spacer"></span>
            <a>
                <img alt="Facebook Old icon" src="https://img.icons8.com/material/2x/facebook.png"
                    style="height:25px;width:25px;"></a>
            <a>
                <img alt="Twitter icon" src="https://img.icons8.com/material/2x/twitter.png"
                    style="height:25px;width:25px;">
            </a>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        </mat-toolbar-row>

    </mat-toolbar>
</footer>