<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- <footer class="docs-footer">
        <div class="docs-footer-list">
            <div class="docs-footer-logo">
            
            </div>
        </div>
    </footer> -->
<div class="fixed-footer">
    <div class="container">
        <mat-toolbar>            
            <mat-toolbar-row>
                <a href="#" style="color: white;">About</a>                
                <span class="example-spacer"></span>  
                &nbsp;&nbsp;&nbsp;              
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example phone icon">phone</mat-icon>
                &nbsp;&nbsp;&nbsp;   
                <span> +1041 55477 38883 </span>              
                <span class="example-spacer"></span>
                &nbsp;&nbsp;&nbsp;
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example location_on icon">location_on</mat-icon>
                &nbsp;&nbsp;&nbsp;   
                <span>21 street, HBS Coloney , Hyderbad</span>              
                <span class="example-spacer"></span>
                &nbsp;&nbsp;&nbsp;
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example email icon">email</mat-icon>                
                &nbsp;&nbsp;&nbsp;   
                <span>support@yourfeedweb.com</span>  
                &nbsp;&nbsp;&nbsp;   
                <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;   
                <a href="#" class="fa fa-youtube"></a>                       
            </mat-toolbar-row>                      
        </mat-toolbar>
    </div>
</div>


<!-- <mat-toolbar class="footer_background_color height_100 twenty_padding_top">
    <mat-toolbar-row>
        <div class="width_35">
            <a class="button-primary" href="https://wordpress.com/start/?ref=websitebluefooter">Create your own
                website</a>
        </div>
        <div class="width_20">
            <label>FOLLOW US:</label>
            <br />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            <br />
            <label>VIST US</label>
            <br />
            <a class="font_12" href="#" target="_blank">Map & Directions</a>
        </div>
        <div class="width_20">
            <label>SUPPORT US:</label>
            <br />
            <mat-icon class="example-icon">favorite</mat-icon>
            <br />
            <label>WORK WITH US</label>
            <br />
            <a class="font_12" href="#" target="_blank">View Jobs</a>
        </div>
        <div class="width_20">
            <label>RESOURCES & LINKS</label>
            <br />
            <span class="font_12">Library</span> &nbsp;&nbsp;&nbsp; <span class="font_12">BlackBoard</span>
            <br />
            <span class="font_12">Title IX</span> &nbsp;&nbsp;&nbsp; <span class="font_12">MYBlenty</span>
            <br />
            <a class="font_12" href="#" target="_blank">Register</a>&nbsp;&nbsp;&nbsp;<a class="font_12">Emergency
                Info</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->