footer {
  background-color: #3b5998;
  }
  .info-color-dark {
    background-color: #09c !important;
}

footer a {
  color: #fff;
}

footer .mat-toolbar.mat-primary{
  background-color: #3b5998;
  color: #fff;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}