<mat-toolbar class="header_background">
    <mat-toolbar-row>
        <div class="width_90">
        </div>
        <div>
            <mat-form-field class="width_full">
                <input matInput placeholder="search">
            </mat-form-field>
            <button *ngif="false" mat-raised-button color="accent">
                <mat-icon>add_alert</mat-icon>
            </button>
            <button mat-raised-button color="accent">Login</button>

        </div>
    </mat-toolbar-row>
</mat-toolbar>