<div class="quote-box mx-auto">
    <div class="quote-text">
        <i class="fa fa-quote-left"></i>
        <span id="quote">
                        {{ quoteStatement?.quote }}                     
        </span>
    </div>
    <div class="quote-author">
        <span id="author">                        
                        - {{ quoteStatement?.author }}    
                    </span>
    </div>
    <div class="buttons">
        <a href="{{ twitter_link }}" class="button" id="tweet-quote" title="Tweet this quote!" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="{{ twitter_link }}" class="button" id="tweet-quote" title="Tweet this quote!" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="{{ twitter_link }}" class="button" id="tweet-quote" title="Tweet this quote!" target="_blank">
            <i class="fa fa-whatsapp"></i>
        </a>
    </div>
</div>