.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    height: 580px;
    width: 600px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.a {
    background-color: wheat;
}