<form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                <img src="http://nicesnippets.com/demo/Nature-Night-Sky-Stars-Blurred-Light-Show-Mountains-WallpapersByte-com-1920x1080.jpg">
            </div>
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                            <img src="http://nicesnippets.com/demo/1499344631_malecostume.png">
                        </div>
                        <div class="row user-detail-row">
                            <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                                <div class="border"></div>
                                <p>FOLLOWER</p>
                                <span>320</span>
                            </div>
                            <div class="col-md-12 col-sm-12 user-detail-section2 pull-right">
                                <div class="border"></div>
                                <p>FOLLOWING</p>
                                <span>147</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <div class="typewriter">
                                        <h1>Hello {{username}} !</h1>
                                        <span class="blinking" *ngIf="!verified">Please verify your account.</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8  profile-tag-section">
                                    <div class="row">
                                        <div class="container">
                                            <h1>Profile Details</h1>
                                            <hr>
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid':  profile.firstName.errors }" />
                                                <div *ngIf=" profile.firstName.errors" class="invalid-feedback">
                                                    <div *ngIf="profile.firstName.errors.required">First Name is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid':  profile.lastName.errors }" />
                                                <div *ngIf=" profile.lastName.errors" class="invalid-feedback">
                                                    <div *ngIf="profile.lastName.errors.required">Last Name is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>DOB</label>
                                                <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid':  profile.dob.errors }" />
                                            </div>
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <select id="gender" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid':  profile.gender.errors }">
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                    <option value="O">Other</option>
                                                  </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid':  profile.username.errors }" readonly />
                                                <div *ngIf=" profile.username.errors" class="invalid-feedback">
                                                    <div *ngIf="profile.username.errors.required">User Name is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid':  profile.email.errors }" readonly/>
                                                <div *ngIf=" profile.email.errors" class="invalid-feedback">
                                                    <div *ngIf="profile.email.errors.required">Email is required</div>
                                                    <div *ngIf="profile.email.errors.email">Email must be a valid email address</div>
                                                </div>
                                            </div>
                                            <button [disabled]="this.updateForm.invalid" type="submit" class="btn btn-success">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>