<div class="card-block">
    <div class="card-text">
        <form clrForm [formGroup]="loginGroup" (submit)="onLogin()">
            <clr-input-container>
                <label style="margin-right:12px;">Username</label>
                <input clrInput type="text" formControlName="username" />
                <clr-control-error *clrIfError="'required'">Username is required.</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label style="margin-right:12px;">Password</label>
                <input clrInput type="password" formControlName="password" />
                <clr-control-error *clrIfError="'required'">Password is required.</clr-control-error>
            </clr-input-container>
            <br>
            <button class="btn btn-primary btn-md submit " [disabled]="!loginGroup.valid" type="submit ">Login</button>
        </form>
        <a href="#">Forgot Password</a>
    </div>
    <br>
    <br>
    <br> SignIn with Social Platform
    <div id="social">
        <a class="facebookBtn smGlobalBtn" href="#"></a>

        <a class="googleplusBtn smGlobalBtn" href="#"></a>

    </div>

</div>